<clr-datagrid>
    <clr-dg-action-bar>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary"
            (click)="onAdd()"><clr-icon shape="plus"></clr-icon> Add Subject
            </button>
        </div>
    </clr-dg-action-bar>

    <clr-dg-placeholder>We couldn't find any subjects!</clr-dg-placeholder>

    <clr-dg-column [clrDgField]="'id'">Subject ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'consentDate'">Consent Date</clr-dg-column>
    <clr-dg-column [clrDgField]="'gender'">Gender</clr-dg-column>
    <clr-dg-column [clrDgField]="'isActive'">Active</clr-dg-column>
    <clr-dg-column [clrDgField]="'status'">Status</clr-dg-column>
    <clr-dg-column [clrDgField]="'statusDate'">Status Date</clr-dg-column>

    <clr-dg-row *clrDgItems="let subject of subjects" [clrDgItem]="subject">
        <clr-dg-action-overflow>
            <button class="action-item" (click)="onEdit(subject)">
                Edit
            </button>
            <button class="action-item" (click)="onDelete(subject)">
                Delete
            </button>
        </clr-dg-action-overflow>

        <clr-dg-cell>{{subject.id}}</clr-dg-cell>
        <clr-dg-cell>{{subject.consentDate | date}}</clr-dg-cell>
        <clr-dg-cell>{{subject.gender}}</clr-dg-cell>
        <clr-dg-cell>{{subject.isActive}}</clr-dg-cell>
        <clr-dg-cell>{{subject.status}}</clr-dg-cell>
        <clr-dg-cell>{{subject.statusDate | date}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{subjects.length}} subjects</clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="isModalOpen">
  <h3 class="modal-title">I have a nice title</h3>
  <div class="modal-body">
    <p>But not much to say...</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="isModalOpen = false">
        Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="onModalSubmitted()">
        Ok
    </button>
  </div>
</clr-modal>

