<h1>Visit Definitions</h1>
<div class="spinner-container" *ngIf="!trials">
    <span class="spinner">
        Loading...
    </span>
</div>
<form *ngIf="trials">
    <section class="form-block">
        <div class="form-group row">
            <div class="col-sm-12 col-md-8 col-lg-4 row">
                <div class="col-md-4 col-lg-4">
                    <label for="selects_1"><b>Trial ID</b></label>
                </div>
                <div class="col-md-8 col-lg-6">
                    <div class="select">
                        <select id="selects_1" [(ngModel)]="selectedTrial"
                            (change)="fetchVisitDefinitions()" name="trial">
                            <option *ngFor="let trial of trials"
                                [ngValue]="trial">
                                {{trial.id}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-4 row">
                <div class="col-md-4 col-lg-3">
                    <label for="selects_2"><b>Visit</b></label>
                </div>
                <div class="col-md-8 col-lg-6">
                    <div class="select">
                        <select id="selects_2" [(ngModel)]="visitId" name="visit">
                            <option *ngFor="let visit of visits"
                                [ngValue]="visit">
                                {{visit}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<span class="spinner spinner-inline" *ngIf="!definitions">
    Loading...
</span>
<div *ngIf="definitions">
    <p>{{definitions[visitId-1].description}}</p>
    <clr-datagrid>
        <clr-dg-action-bar>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()"><clr-icon shape="plus"></clr-icon> Add Metric Definition
                </button>
            </div>
        </clr-dg-action-bar>

        <clr-dg-placeholder>We couldn't find any metric definitions!</clr-dg-placeholder>

        <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
        <clr-dg-column [clrDgField]="'type'">Type</clr-dg-column>
        <clr-dg-column [clrDgField]="'notes'">Notes</clr-dg-column>

        <clr-dg-row *clrDgItems="let metric of definitions[visitId-1].metricDefinitions" [clrDgItem]="metric">
            <clr-dg-action-overflow>
                <button class="action-item" (click)="onEdit(metric)">
                    Edit
                </button>
                <button class="action-item" (click)="onDelete(metric)">
                    Delete
                </button>
            </clr-dg-action-overflow>

            <clr-dg-cell>{{metric.name}}</clr-dg-cell>
            <clr-dg-cell>{{mType[metric.type]}}</clr-dg-cell>
            <clr-dg-cell>{{metric.notes}}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>{{definitions[visitId-1].metricDefinitions.length}} metrics</clr-dg-footer>
    </clr-datagrid>
</div>
