<h1>Visit Definitions</h1>
<div class="spinner-container" *ngIf="!trials">
    <span class="spinner">
        Loading...
    </span>
</div>
<form *ngIf="trials">
    <section class="form-block">
        <div class="form-group row">
            <div class="col-sm-12 col-md-8 col-lg-4 row">
                <div class="col-md-4 col-lg-4">
                    <label for="selects_1"><b>Trial ID</b></label>
                </div>
                <div class="col-md-8 col-lg-6">
                    <div class="select">
                        <select id="selects_1" [(ngModel)]="selectedTrial" (change)="fetchVisitDefinitions()" name="trial">
                            <option *ngFor="let trial of trials"
                                [ngValue]="trial">
                                {{trial.id}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-4 row">
                <div class="col-md-4 col-lg-3">
                    <label for="selects_2"><b>Visit</b></label>
                </div>
                <div class="col-md-8 col-lg-6">
                    <div class="select">
                        <select id="selects_2" [(ngModel)]="visitId" name="visit">
                            <option *ngFor="let visit of visits"
                                [ngValue]="visit">
                                {{visit}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<span class="spinner spinner-inline" *ngIf="!definitions">
    Loading...
</span>
<div *ngIf="definitions">
    <clr-datagrid>
        <clr-dg-action-bar>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()">
                    <a href="#" [routerLink]="['../questions']" [queryParams]="{}" routerLinkActive="active">
                        <clr-icon shape="plus"></clr-icon> Add Section
                    </a>
                </button>
            </div>
        </clr-dg-action-bar>

        <clr-dg-placeholder>We couldn't find any sections!</clr-dg-placeholder>

        <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
        <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
        <clr-dg-column [clrDgField]="'section.questions.length'">Number of Metrics</clr-dg-column>

        <clr-dg-row *clrDgItems="let section of definitions[visitId-1].sections" [clrDgItem]="section">
            <clr-dg-action-overflow>
                <button class="action-item" (click)="onEdit(section)">
                    Edit
                </button>
                <button class="action-item" (click)="onDelete(section)">
                    Delete
                </button>
            </clr-dg-action-overflow>

            <clr-dg-cell>{{section.name}}</clr-dg-cell>
            <clr-dg-cell>{{section.description}}</clr-dg-cell>
            <clr-dg-cell>{{section.questions.length}}</clr-dg-cell>

            <clr-dg-row-detail *clrIfExpanded>
                <div class="metrics-container">
                    <div *ngFor="let question of section.questions; let i = index">
                        {{i+1}}. <b>{{question.label}}</b> | <b>{{question.type}}</b> | <b>{{question.notes}}</b>
                    </div>
                </div>
            </clr-dg-row-detail>
        </clr-dg-row>
        <clr-dg-footer>{{definitions[visitId-1].sections.length}} sections</clr-dg-footer>
    </clr-datagrid>
</div>

<clr-modal [(clrModalOpen)]="isDeleteModalOpen">
    <h3 class="modal-title">Delete Section</h3>
    <div class="modal-body">
        <p>Are you sure you want to permanently delete section {{selectedSection.name}}?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onDeleteModalDismissed()">No</button>
        <button type="button" class="btn btn-primary" (click)="onDeleteModalSubmitted()">Yes</button>
    </div>
</clr-modal>
