<section class="sidenav-content">
    <div class="settings-header">Admin Console</div>
    <section class="nav-group collapsible">
        <input id="cat1" type="checkbox">
        <label for="cat1">Users &amp; Privileges</label>
        <ul class="nav-list">
            <li *ngFor='let option of userOptions' class="nav-item">
                <a class="nav-link" href="#"
                    [routerLink]="['./', option.route]"
                    routerLinkActive="active">
                    {{option.name}}
                </a>
            </li>
        </ul>
    </section>
    <section class="nav-group collapsible">
        <input id="cat2" type="checkbox">
        <label for="cat2">Trial Registry</label>
        <ul class="nav-list">
            <li *ngFor='let option of trialOptions' class="nav-item">
                <a class="nav-link" href="#"
                    [routerLink]="['./', option.route]"
                    routerLinkActive="active">
                    {{option.name}}
                </a>
            </li>
        </ul>
    </section>
</section>
