.content-container {
    height: 100vh;
}
nav {
    border: 0px;
}
clr-icon {
    height: 100%;
    width: 100%;
}
button {
    width: 0.85%;
    max-width: 12px;
    padding: 0px;
    cursor: pointer;
    border: none;
    background-color: #CCCCCC;
}
button:focus {
    outline:0;
}
button:hover {
    background-color: #BBBBBB;
}
