<h1>Enrolled Centers</h1>
<clr-datagrid>
    <clr-dg-action-bar>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary"
            (click)="onAdd()"><clr-icon shape="plus"></clr-icon> Add Center
            </button>
        </div>
    </clr-dg-action-bar>

    <clr-dg-placeholder>We couldn't find any centers!</clr-dg-placeholder>

    <clr-dg-column [clrDgField]="'id'">Center ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'country'">Country</clr-dg-column>
    <clr-dg-column [clrDgField]="'lead'">Lead Investigator</clr-dg-column>
    <clr-dg-column [clrDgField]="'contacts'">Contacts</clr-dg-column>

    <clr-dg-row *clrDgItems="let center of centers" [clrDgItem]="center">
        <clr-dg-action-overflow>
            <button class="action-item" (click)="onEdit(center)">
                Edit
            </button>
            <button class="action-item" (click)="onDelete(center)">
                Delete
            </button>
        </clr-dg-action-overflow>

        <clr-dg-cell>{{center.id}}</clr-dg-cell>
        <clr-dg-cell>{{center.name}}</clr-dg-cell>
        <clr-dg-cell>{{center.country}}</clr-dg-cell>
        <clr-dg-cell>{{center.lead}}</clr-dg-cell>
        <clr-dg-cell>{{center.contacts}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{centers.length}} centers</clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="isModalOpen">
  <h3 class="modal-title">I have a nice title</h3>
  <div class="modal-body">
    <p>But not much to say...</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="isModalOpen = false">
        Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="onModalSubmitted()">
        Ok
    </button>
  </div>
</clr-modal>
