.clr-icon {
  &.clr-eir-logo {
    background-image: url('../assets/img/eir_logo.svg');
  }
}
.header-title {
    font-weight: 600;
    color: #FFFFFF;
    letter-spacing: 0.12em;
    font-size: 24px;
}
