<div class="spinner-container" *ngIf="!sites">
    <span class="spinner">
        Loading...
    </span>
</div>
<form *ngIf="sites">
    <section class="form-block">
        <div class="form-group row">
            <div class="col-sm-12 col-md-6 col-lg-4 row">
                <div class="col-md-4 col-lg-4">
                    <label for="selects_1"><b>Site ID</b></label>
                </div>
                <div class="col-md-8 col-lg-6">
                    <div class="select">
                        <select id="selects_1" [(ngModel)]="selectedSiteId" (change)="fetchVisitData()" name="site">
                        <option *ngFor="let site of sites"
                            [ngValue]="site.id">
                            {{site.id}}
                        </option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 row">
                <div class="col-md-4 col-lg-4">
                    <label for="selects_2"><b>Subject ID</b></label>
                </div>
                <div class="col-md-8 col-lg-6">
                    <div class="select">
                        <select id="selects_2" [(ngModel)]="selectedSubjectEntry" name="subject">
                            <option *ngFor="let subjectEntry of visitData"
                                [ngValue]="subjectEntry">
                                {{subjectEntry.subjectId}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<clr-datagrid *ngIf="visitData">
    <clr-dg-placeholder>We couldn't find any visits!</clr-dg-placeholder>

    <clr-dg-column [clrDgField]="'id'">Visit ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'description'">Visit Description</clr-dg-column>
    <clr-dg-column>Sections Completed</clr-dg-column>

    <clr-dg-row *clrDgItems="let visit of selectedSubjectEntry.visits" [clrDgItem]="visit">
        <clr-dg-cell>{{visit.id}}</clr-dg-cell>
        <clr-dg-cell>{{visit.description}}</clr-dg-cell>
        <clr-dg-cell>
            <span class="badge" [ngClass]="getVisitBadgeClass(visit.getCompletedSectionCount(), visit.getTotalSectionCount())">
                {{visit.getCompletedSectionCount()}}/{{visit.getTotalSectionCount()}}
            </span>
        </clr-dg-cell>

        <clr-dg-row-detail *clrIfExpanded>
            <div>
                <div *ngFor="let section of visit.capturedData">
                    <a href="#" [routerLink]="['../sections']"
                    [queryParams]="{visit: visit.id, section: section.id}"
                    routerLinkActive="active" class="nav-link nav-text">
                        <clr-icon shape="clipboard" [ngClass]="getSectionIconClass(section.status)"></clr-icon>
                        {{section.name}}
                    </a>
                </div>
            </div>
        </clr-dg-row-detail>
    </clr-dg-row>
    <clr-dg-footer>{{selectedSubjectEntry.visits.length}} visits</clr-dg-footer>
</clr-datagrid>
