<div class="spinner-container" *ngIf="!sites">
    <span class="spinner">
        Loading...
    </span>
</div>
<form *ngIf="sites">
    <section class="form-block">
        <div class="form-group row">
            <div class="col-lg-12 row">
                <div class="col-md-2 col-lg-1">
                    <label for="selects_1"><b>Site ID</b></label>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="select">
                        <select id="selects_1" [(ngModel)]="siteId" (change)="fetchSubjects()" name="site">
                        <option *ngFor="let site of sites"
                            [ngValue]="site">
                            {{site}}
                        </option>
                    </select>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<clr-datagrid *ngIf="subjects">
    <clr-dg-action-bar>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()"><clr-icon shape="plus"></clr-icon> Add Subject
            </button>
        </div>
    </clr-dg-action-bar>

    <clr-dg-placeholder>We couldn't find any subjects!</clr-dg-placeholder>

    <clr-dg-column [clrDgField]="'id'">Subject ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'id'">Visits Completed</clr-dg-column>
    <clr-dg-column [clrDgField]="'consentDate'">Consent Date</clr-dg-column>
    <clr-dg-column [clrDgField]="'gender'">Gender</clr-dg-column>
    <clr-dg-column [clrDgField]="'isActive'">Active</clr-dg-column>
    <clr-dg-column [clrDgField]="'status'">Status</clr-dg-column>
    <clr-dg-column [clrDgField]="'statusDate'">Status Date</clr-dg-column>

    <clr-dg-row *clrDgItems="let subject of subjects" [clrDgItem]="subject">
        <clr-dg-action-overflow>
            <button class="action-item" (click)="onEdit(subject)">
                Edit
            </button>
            <button class="action-item" (click)="onDelete(subject)">
                Delete
            </button>
        </clr-dg-action-overflow>

        <clr-dg-cell>
            <a href="#" [routerLink]="['../visits']" [queryParams]="{id: subject.id}" routerLinkActive="active" class="nav-link nav-text">
                {{subject.id}}
            </a>
        </clr-dg-cell>
        <clr-dg-cell>
            <a href="#" [routerLink]="['../visits']" [queryParams]="{id: subject.id}" routerLinkActive="active" class="nav-link nav-text">
                <span class="badge" [ngClass]="getVisitBadgeClass(subject.completedVisits, trialNumOfVisits)">
                {{subject.completedVisits}}/{{trialNumOfVisits}}
                </span>
            </a>
        </clr-dg-cell>
        <clr-dg-cell>{{subject.consentDate | date}}</clr-dg-cell>
        <clr-dg-cell>{{subject.gender}}</clr-dg-cell>
        <clr-dg-cell>{{subject.isActive}}</clr-dg-cell>
        <clr-dg-cell>{{subject.status}}</clr-dg-cell>
        <clr-dg-cell>{{subject.statusDate | date}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{subjects.length}} subjects</clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="isAddModalOpen" class="modal-lg">
    <h3 class="modal-title">Add Subject</h3>
    <div class="modal-body">
        <form #addSubjectForm="ngForm" class="compact">
            <section class="form-block">
                <div class="form-group">
                    <label for="input_1">Subject ID</label>
                    <input type="text" name="input_1" [(ngModel)]="selectedSubject.id">
                </div>
                <div class="form-group">
                    <label for="input_2">Consent Date</label>
                    <input type="date" name="input_2" [ngModel]="selectedSubject.consentDate | date: 'yyyy-MM-dd'" (ngModelChange)="selectedSubject.consentDate = $event">
                </div>
                <div class="form-group">
                    <label for="input_3">Gender</label>
                    <div class="select">
                        <select name="input_3" [(ngModel)]="selectedSubject.gender">
                            <option *ngFor="let g of genders"
                                [ngValue]="g">
                                {{g}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Active</label>
                    <div class="radio-inline">
                        <input type="radio" name="gridRadios1" id="checkrads_1" [(ngModel)]="selectedSubject.isActive" [value]="true" checked>
                        <label for="checkrads_1">Yes</label>
                    </div>
                    <div class="radio-inline">
                        <input type="radio" name="gridRadios2" id="checkrads_2" [(ngModel)]="selectedSubject.isActive" [value]="false">
                        <label for="checkrads_2">No</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_5">Status</label>
                    <div class="select">
                        <select name="input_5" [(ngModel)]="selectedSubject.status">
                            <option *ngFor="let s of statuses"
                                [ngValue]="s">
                                {{s}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" (click)="onAddModalDismissed()">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary" (click)="onAddModalSubmitted()">
                        Ok
                    </button>
                </div>
            </section>
        </form>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="isDeleteModalOpen">
    <h3 class="modal-title">Delete Subject</h3>
    <div class="modal-body">
        <p>Are you sure you want to permanently delete subject {{selectedSubject.id}}?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onDeleteModalDismissed()">No</button>
        <button type="button" class="btn btn-primary" (click)="onDeleteModalSubmitted()">Yes</button>
    </div>
</clr-modal>
