<div class="spinner-container" *ngIf="!centers">
    <span class="spinner">
        Loading...
    </span>
</div>
<form *ngIf="centers">
    <section class="form-block">
        <div class="form-group row">
            <div class="col-lg-12 row">
                <div class="col-md-2 col-lg-1">
                    <label for="selects_1"><b>Center ID</b></label>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="select">
                        <select id="selects_1" [(ngModel)]="centerId" (change)="fetchSubjects()" name="center">
                        <option *ngFor="let center of centers"
                            [ngValue]="center.id">
                            {{center.id}}
                        </option>
                    </select>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<clr-datagrid *ngIf="subjects">
    <clr-dg-action-bar>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()"><clr-icon shape="plus"></clr-icon> Add Subject
            </button>
        </div>
    </clr-dg-action-bar>

    <clr-dg-placeholder>We couldn't find any subjects!</clr-dg-placeholder>

    <clr-dg-column [clrDgField]="'id'">Subject ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'id'">Visits Progress</clr-dg-column>
    <clr-dg-column [clrDgField]="'consentDate'">Consent Date</clr-dg-column>
    <clr-dg-column [clrDgField]="'gender'">Gender</clr-dg-column>
    <clr-dg-column [clrDgField]="'isActive'">Active</clr-dg-column>
    <clr-dg-column [clrDgField]="'status'">Status</clr-dg-column>
    <clr-dg-column [clrDgField]="'statusDate'">Status Date</clr-dg-column>

    <clr-dg-row *clrDgItems="let subject of subjects" [clrDgItem]="subject">
        <clr-dg-action-overflow>
            <button class="action-item" (click)="onEdit(subject)">
                Edit
            </button>
            <button class="action-item" (click)="onDelete(subject)">
                Delete
            </button>
        </clr-dg-action-overflow>

        <clr-dg-cell>{{subject.id}}</clr-dg-cell>
        <clr-dg-cell><a href="#" [routerLink]="['../visits']" [queryParams]="{id: subject.id}" routerLinkActive="active" class="nav-link nav-text">{{subject.completedVisits}}/{{trialNumOfVisits}}</a></clr-dg-cell>
        <clr-dg-cell>{{subject.consentDate | date}}</clr-dg-cell>
        <clr-dg-cell>{{gender[subject.gender]}}</clr-dg-cell>
        <clr-dg-cell>{{subject.isActive}}</clr-dg-cell>
        <clr-dg-cell>{{subject.status}}</clr-dg-cell>
        <clr-dg-cell>{{subject.statusDate | date}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{subjects.length}} subjects</clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="isModalOpen">
    <h3 class="modal-title">I have a nice title</h3>
    <div class="modal-body">
        <p>But not much to say...</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="isModalOpen = false">
        Cancel
    </button>
        <button type="button" class="btn btn-primary" (click)="onModalSubmitted()">
        Ok
    </button>
    </div>
</clr-modal>
