<h1>Ongoing Trials</h1>
<clr-datagrid>
    <clr-dg-action-bar>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary"
            (click)="onAdd()"><clr-icon shape="plus"></clr-icon> Add Trial
            </button>
        </div>
    </clr-dg-action-bar>

    <clr-dg-placeholder>We couldn't find any trials!</clr-dg-placeholder>

    <clr-dg-column [clrDgField]="'id'">Trial ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
    <clr-dg-column [clrDgField]="'centers'">Centers</clr-dg-column>
    <clr-dg-column [clrDgField]="'numOfVisits'">Visits</clr-dg-column>

    <clr-dg-row *clrDgItems="let trial of activeTrials" [clrDgItem]="trial">
        <clr-dg-action-overflow>
            <button class="action-item" (click)="onEdit(trial)">
                Edit
            </button>
            <button class="action-item" (click)="onDelete(trial)">
                Delete
            </button>
        </clr-dg-action-overflow>

        <clr-dg-cell>{{trial.id}}</clr-dg-cell>
        <clr-dg-cell>{{trial.name}}</clr-dg-cell>
        <clr-dg-cell>{{trial.description}}</clr-dg-cell>
        <clr-dg-cell>{{trial.centers}}</clr-dg-cell>
        <clr-dg-cell>{{trial.numOfVisits}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{activeTrials.length}} trials</clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="isAddModalOpen" class="modal-lg">
    <h3 class="modal-title">Add Trial</h3>
    <div class="modal-body">
        <form #addTrialForm="ngForm" class="compact">
            <section class="form-block">
                <div class="form-group">
                    <label for="input_1">Trial ID</label>
                    <input type="text" name="input_1" [(ngModel)]="selectedTrial.id">
                </div>
                <div class="form-group">
                    <label for="input_2">Name</label>
                    <input type="text" name="input_2" [(ngModel)]="selectedTrial.name">
                </div>
                <div class="form-group">
                    <label for="input_3">Description</label>
                    <textarea rows="2" cols="15" name="input_3" [(ngModel)]="selectedTrial.description"></textarea>
                </div>
                <div class="form-group">
                    <label for="input_4">Centers</label>
                    <div class="select multiple">
                        <select name="input_4" multiple [(ngModel)]="selectedTrial.centers">
                            <option *ngFor="let center of centers"
                                [ngValue]="center.id">
                                {{center.id}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_5">Number of Visits</label>
                    <input type="number" name="input_5" [(ngModel)]="selectedTrial.numOfVisits">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" (click)="onAddModalDismissed()">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary" (click)="onAddModalSubmitted()">
                        Ok
                    </button>
                </div>
            </section>
        </form>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="isDeleteModalOpen">
    <h3 class="modal-title">Delete Trial</h3>
    <div class="modal-body">
        <p>Are you sure you want to permanently delete trial {{selectedTrial.id}}?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onDeleteModalDismissed()">No</button>
        <button type="button" class="btn btn-primary" (click)="onDeleteModalSubmitted()">Yes</button>
    </div>
</clr-modal>
