<h1>Users &amp; Privileges</h1>
<clr-datagrid>
    <clr-dg-action-bar>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()"><clr-icon shape="plus"></clr-icon> Add User
            </button>
        </div>
    </clr-dg-action-bar>

    <clr-dg-placeholder>We couldn't find any users!</clr-dg-placeholder>

    <clr-dg-column [clrDgField]="'username'">Username</clr-dg-column>
    <clr-dg-column [clrDgField]="'fullName'">Full Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'role'">Role</clr-dg-column>
    <clr-dg-column [clrDgField]="'centers'">Centers</clr-dg-column>
    <clr-dg-column [clrDgField]="'trials'">Trials</clr-dg-column>

    <clr-dg-row *clrDgItems="let user of users" [clrDgItem]="user">
        <clr-dg-action-overflow>
            <button class="action-item" (click)="onEdit(user)">
                Edit
            </button>
            <button class="action-item" (click)="onDelete(user)">
                Delete
            </button>
        </clr-dg-action-overflow>

        <clr-dg-cell>{{user.username}}</clr-dg-cell>
        <clr-dg-cell>{{user.fullName}}</clr-dg-cell>
        <clr-dg-cell>{{user.role}}</clr-dg-cell>
        <clr-dg-cell>{{user.centers}}</clr-dg-cell>
        <clr-dg-cell>{{user.trials}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{users.length}} users</clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="isAddModalOpen" class="modal-lg">
    <h3 class="modal-title">Add User</h3>
    <div class="modal-body">
        <form #addUserForm="ngForm" class="compact">
            <section class="form-block">
                <div class="form-group">
                    <label for="input_1">Username</label>
                    <input type="text" name="input_1" [(ngModel)]="selectedUser.username">
                </div>
                <div class="form-group">
                    <label for="input_6">Password</label>
                    <input type="password" name="input_6" [(ngModel)]="selectedUser.password">
                </div>
                <div class="form-group">
                    <label for="input_2">Full Name</label>
                    <input type="text" name="input_2" [(ngModel)]="selectedUser.fullName">
                </div>
                <div class="form-group">
                    <label for="input_3">Role</label>
                    <div class="select">
                        <select name="input_3" [(ngModel)]="selectedUser.role">
                            <option *ngFor="let r of roles"
                                [ngValue]="r">
                                {{r}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_4">Centers</label>
                    <div class="select multiple">
                        <select name="input_4" multiple [(ngModel)]="selectedUser.centers">
                            <option *ngFor="let center of centers"
                                [ngValue]="center.id">
                                {{center.id}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_5">Trials</label>
                    <div class="select multiple">
                        <select name="input_5" multiple [(ngModel)]="selectedUser.trials">
                            <option *ngFor="let trial of trials"
                                [ngValue]="trial.id">
                                {{trial.id}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" (click)="onAddModalDismissed()">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary" (click)="onAddModalSubmitted()">
                        Ok
                    </button>
                </div>
            </section>
        </form>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="isDeleteModalOpen">
    <h3 class="modal-title">Delete User</h3>
    <div class="modal-body">
        <p>Are you sure you want to permanently delete user {{selectedUser.username}}?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onDeleteModalDismissed()">No</button>
        <button type="button" class="btn btn-primary" (click)="onDeleteModalSubmitted()">Yes</button>
    </div>
</clr-modal>
