<h1>{{section.name}}</h1>
<p>{{section.description}}</p>
<form #enterDataForm="ngForm" [formGroup]="form">
    <section class="form-block">
        <df-question *ngFor="let question of section.questions" [question]="question" [form]="form"></df-question>
    </section>
    <button type="button" class="btn btn-outline" (click)="onFormDismissed()">Cancel</button>
    <button type="submit" [disabled]="enterDataForm.form.invalid" class="btn btn-primary" (click)="onFormSubmitted()">Save</button>
</form>
